[package]
name = "fubuki"
version = "0.4.1"
authors = ["xty <xutianyi1999@live.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1", features = ["full"] }
log4rs = "1"
log = "0.4"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
chrono = "0.4"
rand = "0.8"
socket2 = "0.4"
parking_lot = "0.12"
anyhow = "1"
mimalloc = { version = "*", default-features = false }
crossbeam-channel = "0.5"
ahash = "0.7"
futures-util = "0.3"
aes = "0.8"
ctr = "0.9"
md5 = "0.7"

[target.'cfg(any(target_os = "linux", target_os = "macos"))'.dependencies]
tun = "0.5"

[target.'cfg(target_os = "windows")'.dependencies]
simple_wintun = { git = "https://github.com/xutianyi1999/SimpleWintun.git" }

[profile.release]
lto = true
codegen-units = 1