<div class="info-item">

  <div mat-subheader><b>Fubuki {{serverType | titlecase}}</b></div>

  <div mat-subheader><b>Group Details</b></div>
  <mat-divider></mat-divider>

  <!-- mat-elevation-z1 ? -->
  <table mat-table [dataSource]="groupList" class="mat-elevation-z1">
  <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef={{groupColumnName}} *ngFor="let groupColumnName of basicGroupColumns">
      <th mat-header-cell *matHeaderCellDef> {{groupColumnName}} </th>
      <td mat-cell *matCellDef="let groupInfo"> {{groupInfo[groupColumnName]}} </td>
    </ng-container>

    <ng-container matColumnDef="mode">
      <th mat-header-cell *matHeaderCellDef>mode</th>
      <td mat-cell *matCellDef="let groupInfo">
        <mat-chip-listbox aria-label="modes">
          <mat-chip *ngFor="let modeName of getKeys(groupInfo.mode)"
            matTooltip={{reduceStringArray(groupInfo.mode[modeName])}}
            [matTooltipPositionAtOrigin]="true"
            [matTooltipPosition]="'above'">
            {{modeName}}
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="server_udp_status">
      <th mat-header-cell *matHeaderCellDef>server_udp_status</th>
      <td mat-cell *matCellDef="let groupInfo">

        <mat-chip-listbox aria-label="server_udp_status">
          <mat-chip *ngFor="let status of getKeys(groupInfo.server_udp_status)"
            matTooltip="{{toKeyValueString(groupInfo.server_udp_status[status])}} (click to copy)"
            [matTooltipPositionAtOrigin]="true"
            [matTooltipPosition]="'above'"
            (click)="copy(toKeyValueString(groupInfo.server_udp_status[status]))"
          >
            {{status}}
          </mat-chip>
        </mat-chip-listbox>

      </td>
    </ng-container>

    <ng-container matColumnDef={{hcColumnName}} *ngFor="let hcColumnName of groupHcColumns">
      <th mat-header-cell *matHeaderCellDef> {{hcColumnName}} </th>
      <td mat-cell *matCellDef="let groupInfo">
        <mat-chip-listbox aria-label="udp_heartbeat_cache">
          <mat-chip
            *ngFor="let fieldName of getKeys(groupInfo[hcColumnName])"
            (click)="copy(fieldName === 'elapsed' ?
              groupInfo[hcColumnName][fieldName].nanos / 1000_000 + groupInfo[hcColumnName][fieldName].secs * 1000
              : groupInfo[hcColumnName][fieldName])"
            matTooltip="click to copy"  
          >
            {{fieldName}}:
            {{fieldName === 'elapsed' ?
              (groupInfo[hcColumnName][fieldName].nanos / 1000_000 + groupInfo[hcColumnName][fieldName].secs * 1000 | number) + 'ms'
              : groupInfo[hcColumnName][fieldName]}}
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="viewGroupColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: viewGroupColumns;"></tr>
  </table>

  <br>

  <div mat-subheader><b>Node List</b></div>
  <mat-divider></mat-divider>
  
  <table mat-table [dataSource]="nodeList" class="mat-elevation-z1">
  
    <ng-container matColumnDef="firstColumn">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let nodeInfo"> <mat-icon matListItemIcon>computer</mat-icon> </td>
    </ng-container>
  
    <ng-container matColumnDef={{nodeColumnName}} *ngFor="let nodeColumnName of basicNodeColumns">
      <th mat-header-cell *matHeaderCellDef> {{nodeColumnName}} </th>
      <td mat-cell *matCellDef="let nodeInfo"> {{nodeInfo.node[nodeColumnName]}} </td>
    </ng-container>

    <ng-container matColumnDef="mode">
      <th mat-header-cell *matHeaderCellDef>mode</th>
      <td mat-cell *matCellDef="let nodeInfo">

        <mat-chip-listbox aria-label="modes">
          <mat-chip
            *ngFor="let modeName of getKeys(nodeInfo.node.mode)"
            matTooltip={{reduceStringArray(nodeInfo.node.mode[modeName])}}
            [matTooltipPositionAtOrigin]="true"
            [matTooltipPosition]="'above'"
          >
            {{modeName}}
          </mat-chip>
        </mat-chip-listbox>

      </td>
    </ng-container>

    <ng-container matColumnDef="allowed_ips">
      <th mat-header-cell *matHeaderCellDef>allowed_ips</th>
      <td mat-cell *matCellDef="let nodeInfo">
        <mat-chip-listbox aria-label="allowed_ips">
          <mat-chip
            *ngFor="let ip of nodeInfo.node.allowed_ips"
            matTooltip="click to copy"
            (click) = "copy(ip)"
          >
            {{ip}}
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="udp_status">
      <th mat-header-cell *matHeaderCellDef>udp_status</th>
      <td mat-cell *matCellDef="let nodeInfo">

        <mat-chip-listbox aria-label="udp_status">
          <mat-chip
            *ngFor="let status of getKeys(nodeInfo.udp_status)"
            matTooltip="{{toKeyValueString(nodeInfo.udp_status[status])}} (click to copy)"
            [matTooltipPositionAtOrigin]="true"
            [matTooltipPosition]="'above'"
            (click)="copy(toKeyValueString(nodeInfo.udp_status[status]))"
          >
            {{status}}
          </mat-chip>
        </mat-chip-listbox>

      </td>
    </ng-container>

    <ng-container matColumnDef={{hcColumnName}} *ngFor="let hcColumnName of nodeHcColumns">
      <th mat-header-cell *matHeaderCellDef> {{hcColumnName}} </th>
      <td mat-cell *matCellDef="let nodeInfo">
        <mat-chip-listbox aria-label="udp_heartbeat_cache">
          <mat-chip
            *ngFor="let fieldName of getKeys(nodeInfo[hcColumnName])"
            (click)="copy(fieldName === 'elapsed' ?
              nodeInfo[hcColumnName][fieldName].nanos / 1000_000 + nodeInfo[hcColumnName][fieldName].secs * 1000
              : nodeInfo[hcColumnName][fieldName])"
            matTooltip="click to copy"  
          >
            {{fieldName}}:
            {{fieldName === 'elapsed' ?
              (nodeInfo[hcColumnName][fieldName].nanos / 1000_000 + nodeInfo[hcColumnName][fieldName].secs * 1000 | number) + 'ms'
              : nodeInfo[hcColumnName][fieldName]}}
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>

    <!-- 
    <ng-container matColumnDef="udp_heartbeat_cache">
      <th mat-header-cell *matHeaderCellDef>udp_heartbeat_cache</th>
      <td mat-cell *matCellDef="let nodeInfo">
        <mat-chip-listbox aria-label="udp_heartbeat_cache">
          <mat-chip
            *ngFor="let fieldName of getKeys(nodeInfo.udp_heartbeat_cache)"
          >
            {{fieldName}}: {{fieldName === "elapsed" ? nodeInfo.udp_heartbeat_cache[fieldName].nanos : nodeInfo.udp_heartbeat_cache[fieldName]}}
          </mat-chip>
        </mat-chip-listbox>
      </td>
    </ng-container>
    -->
  
    <tr mat-header-row *matHeaderRowDef="viewNodeColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: viewNodeColumns;"></tr>
  </table>

  <!--
    如果不加mat-list, 会导致mat-subheader缺少样式,
    如果从info-list组件中路由到当前组件中, 则会带上之前的样式, 刷新或直接进入该组件样式会消失
  -->
  <mat-list></mat-list>

  <!-- <mat-list>
    <div mat-subheader><b>Nodes</b></div>
    <mat-divider></mat-divider>
  
    <mat-card *ngFor="let nodeInfo of this.nodeList">
      <mat-list-item class="nodeInfo">
        <mat-divider></mat-divider>
        <mat-icon matListItemIcon>computer</mat-icon>
        <div matListItemTitle>
          {{nodeInfo.node.name}}
        </div>
        <div matListItemLine>
          {{nodeInfo.node.virtual_addr}}
        </div>
      </mat-list-item>
    </mat-card>
  </mat-list> -->


</div>
